
:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.background-meteors {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
}

.content-container {
  position: relative; 
  z-index: 1;
  width: 100%;
  min-height: 100vh; 
  overflow-y: auto; 
}