
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-toolbar {
  background: transparent !important;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0; 
}

.sidenav-container {
  flex: 1;
  background: transparent;
}

.sidenav {
  width: 240px;
  background: transparent !important;
  border-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.spacer {
  flex: 1 1 auto;
}

.welcome-text {
  margin-right: 1.5rem;
  font-size: 1rem;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1);
  color: #2a2b31;
  font-weight: 500;
  border-right: 3px solid #34353e;
}