/* Mini Statement Table */
.table {
  margin-bottom: 0;
  th {
    background-color: #ff4081;
    color: white;
    font-weight: 500;
  }
  td {
    vertical-align: middle;
  }
  .text-success {
    font-weight: 500;
  }
  .text-danger {
    font-weight: 500;
  }
}

.modal-header {
//   background-color: #ff4081;
  color: white;
  border-bottom: none;

  .modal-title {
    font-weight: 600;
  }

  .btn-close {
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-body {

    .modal-body-heading{
        color: white;
    }

  .form-floating {
    label {
      color: #6b7280;
    }

    .form-control {
      border-radius: 6px;
      border-color: #ff4081;
      transition: border-color 0.2s;

      &:focus {
        border-color: #ff4081;
        box-shadow: 0 0 0 0.1rem rgb(255, 64, 129, 0.25)
      }
    }
  }
}

.modal-footer {
//   background-color: #f1f5f9;
//   border-top: none;

  button.btn-primary {
    background-color: #ff4081;
    border: none;
    font-weight: 500;

    &:hover {
      background-color: #ff4081;
    }
  }
}