<div class="container-fluid">
  <h1 class="my-4">My Profile</h1>

  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center mt-5">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngIf="!isLoading && profile">
    <mat-card-header>
      <mat-card-title>{{ profile.fullName }}</mat-card-title>
      <mat-card-subtitle>{{ profile.role }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <div matListItemTitle>{{ profile.username }}</div>
          <div matListItemLine>Username</div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon matListItemIcon>email</mat-icon>
          <div matListItemTitle>{{ profile.email }}</div>
          <div matListItemLine>Email Address</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>