.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.approve-btn:hover {
  color: #81c784 !important;
}

button.reject-btn:hover {
  color: #e57373 !important;
}

.actions-header {     
  padding-left: 2rem;     
}

.modal-header {
//   background-color: #ff4081;
  color: white;
  border-bottom: none;

  .modal-title {
    font-weight: 600;
  }

  .btn-close {
    filter: invert(1);
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.modal-body {

    .modal-body-heading{
        color: white;
    }

  .form-floating {
    label {
      color: #6b7280;
    }

    .form-control {
      border-radius: 6px;
      border-color: #ff4081;
      transition: border-color 0.2s;

      &:focus {
        border-color: #ff4081;
        box-shadow: 0 0 0 0.1rem rgb(255, 64, 129, 0.25)
      }
    }
  }
}

.modal-footer {
//   background-color: #f1f5f9;
//   border-top: none;

  button.btn-primary {
    background-color: #ff4081;
    border: none;
    font-weight: 500;

    &:hover {
      background-color: #ff4081;
    }
  }
}